#head-box {
    height: 50px;
    background-color: #6E8898;
    display: flex;

    /* 아이템 가운데 정렬 */
    align-items: center;
}

/* 파란 밑줄 없애기 */
.navlink-to-reset {
    color: #000000;
    text-decoration: none;
}

#navlink-home {
    font-family: NanumSquareEB;
    font-size: 2rem;

    margin-left: 10px;
}